body{
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    margin-top: 50px;
    color: #66BFBF;
    line-height: 2;
}
h2{
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
p{
    line-height: 2;
}

.top-container{
    background-color: #EAF6F6;
    padding-top: 100px;
    padding-bottom: 0px;
    position: relative;
}
.mountain{
    width: 60%;
    height: 20%;
}
.middle-container{
    background-color: #F9F9F9;
    padding: 50px 0px;

}
.bottom-container{
    background-color: #66BFBF;
    padding-top: 20px;
    padding-bottom: 50px;

}
.top-cloud{
    position: absolute;
    right: 300px;
    margin-top: 40;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
/*.hr-between-skill {
    border:none;
    border-top:1px dashed rgb(80, 80, 80);
    color:rgb(80, 80, 80);
    background-color:rgb(80, 80, 80);
    height:1px;
    width:20%;
    }*/

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto ;
    text-align: left;
    line-height: 2;
}
.programming-gif{
    width: 25%;
    float: left;
    padding: 30px;
}
.po-gif{
    width: 25%;
    float: right;
    padding: 30px;
}
.btn {
    background:  #11cdd4;
    background-image: -webkit-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -o-linear-gradient(top,  #11cdd4, #11999e);
    background-image: linear-gradient(to bottom,  #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .first-description{
    color: #40514E;
    width: 25%;
    margin: auto;
  }
  .dotty-hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
  }

  .footer-link{
      padding: 10px 20px;
      text-decoration: none;
      color: #11999E;
  }
  .footer-link:hover{
      color: #EAF6F6;
  }
  .contact-me{
    padding: 40px auto 60px;
  }
  .copywrite{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 10px 0px;
  }
  .mypic{
      width: 20%;
      margin: auto;
  }
